

<main id="main" class="main">

    <!-- Client List -->
    <div class="col-12">
        <div class="card recent-sales overflow-auto">


            <div class="card-body">
                <h5 class="card-title"> Client Status </h5>


                <table class="table table-bordered datatable">


                    <thead>
                        <tr>
                            <th scope="col"> ID</th>
                            <th scope="col"> Client Name</th>
                            <th scope="col"> Country </th>
                            <th scope="col"> Working Process </th>
                            <th scope="col"> Status </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr >
                            <a class="row" >
                                <td ></td>
                                <td ></td>
                                <td ></td>
                                <td ></td>
                                <td>
                                    <a class="btn btn-warning"> Check Profile
                                    </a>
                                </td>
                            </a>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div><!-- End Recent Sales -->
</main><!-- End #main -->












