<main id="main" class="main">

    <div class="container">
        <div class="row">
            <!-- New Department Table-->
            <div class="col-12">
                <div class="card recent-sales overflow-auto">
                    <div class="card-body">
                        <h5 class="card-title text-center"> List Of Salary </h5>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th> Grade</th>
                                    <th> Grade Name</th>
                                    <th> Basic Salary</th>
                                    <th> House Rent</th>
                                    <th> Health Allowance</th>
                                    <th> Total Salary</th>
                                    <th> Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr >
                                    <th>  </th>
                                    <th> </th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <td>
                                        <a class="btn btn-danger" >Delete</a>
                                        <a class="btn btn-warning">Update</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
            <div class="col-12">
               <div class="row">
                <div class="col-6"><div class="card recent-sales overflow-auto">
                    <div class="card-body">
                        <h5 class="card-title text-center"> List Of Designation </h5>
                        <!-- New Salary Grade Form Elements -->
                        <table class="table">
                            <thead>
                                <th> Short Name </th>
                                <th> Department </th>
                                <th> Post Designation </th>
                                <th> Action </th>
                
                            </thead>
                            <tbody>
                                <tr>
                                    <th> </th>
                                    <td> </td>
                                    <td></td>
                                    <td>
                                        <a class="btn btn-danger">Delete</a>
                                        <a class="btn btn-warning">Update</a>
                                    </td>
                                </tr>
                        </table>
                
                    </div>
                
                </div></div>
                <div class="col-6"><div class="card recent-sales overflow-auto">
                    <div class="card-body">
                        <h5 class="card-title text-center"> List Of Department </h5>
                        <!-- New Salary Grade Form Elements -->
                        <table class="table">
                            <thead>
                                <th > Name </th>
                                <th> Short Name </th>
                                <th> Action </th>
                
                            </thead>
                            <tbody>
                                <tr>
                                    <th> </th>
                                    <td> </td>
                                    <td></td>
                                    <td>
                                        <a class="btn btn-danger">Delete</a>
                                        <a class="btn btn-warning">Update</a>
                                    </td>
                                </tr>
                        </table>
                
                    </div>
                
                </div></div>
               </div>
            </div>
        </div><!-- End Salary Table -->
        <!-- New Department Table-->
       
    </div>
</main><!-- End #main -->